## Deliverable 2. Create a Customer Travel Destinations Map.

In [27]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
# gmaps.configure(api_key=g_key)

In [28]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Nizhniy Odes,RU,63.64,54.86,43.86,88,37,5.44,scattered clouds
1,1,Bluff,NZ,-46.60,168.33,46.80,75,94,28.95,overcast clouds
2,2,Waipawa,NZ,-41.41,175.52,35.47,88,11,4.34,few clouds
3,3,Ambon,ID,-3.70,128.18,79.23,14,40,3.44,light rain
4,4,Busselton,AU,-33.65,115.33,56.28,70,87,13.13,overcast clouds

In [29]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
temp_min = float(input("What is the minimum temperature you are looking for?"))
temp_max = float(input("What is the maximum temperature you are looking for?"))

What is the minimum temperature you are looking for?60
What is the maximum temperature you are looking for?85

In [30]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
input_cities_df = city_data_df.loc[(city_data_df["Max Temp"]>= temp_min) & (city_data_df["Max Temp"]<=temp_max)]
input_cities_df.head(15)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,Ambon,ID,-3.70,128.18,79.23,14,40,3.44,light rain
5,5,Asfi,MA,32.30,-9.24,71.69,82,1,8.21,clear sky
7,7,Ravar,IR,31.27,56.81,82.29,13,0,2.17,clear sky
9,9,Molepolole,BW,-24.41,25.50,63.82,57,1,10.31,clear sky
10,10,Saint George,US,37.10,-113.58,74.62,65,20,5.75,few clouds
11,11,Pulo,PH,15.25,120.93,80.24,94,27,2.10,scattered clouds
15,15,Ponta Do Sol,PT,32.67,-17.10,79.00,64,33,9.60,scattered clouds
16,16,Porbandar,IN,21.64,69.61,80.89,89,100,14.47,moderate rain
17,17,Albany,US,42.60,-73.97,73.78,66,46,11.65,scattered clouds
21,21,Vaini,TO,-21.20,-175.20,73.56,94,40,6.91,light intensity shower rain
24,24,Bethel,US,41.37,-73.41,78.89,58,0,8.05,clear sky
25,25,Nichinan,JP,31.60,131.37,78.87,91,41,11.01,scattered clouds
26,26,Rikitea,PF,-23.12,-134.97,70.84,73,94,11.56,overcast clouds
28,28,Arraial Do Cabo,BR,-22.97,-42.03,73.36,88,100,12.66,overcast clouds
29,29,Mahebourg,MU,-20.41,57.70,71.89,78,20,8.05,few clouds

In [31]:
# 4a. Determine if there are any empty rows.
input_cities_df.isnull().sum()

City_ID                0
City                   0
Country                6
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [32]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
cities_df = input_cities_df.dropna()
cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,Ambon,ID,-3.70,128.18,79.23,14,40,3.44,light rain
5,5,Asfi,MA,32.30,-9.24,71.69,82,1,8.21,clear sky
7,7,Ravar,IR,31.27,56.81,82.29,13,0,2.17,clear sky
9,9,Molepolole,BW,-24.41,25.50,63.82,57,1,10.31,clear sky
10,10,Saint George,US,37.10,-113.58,74.62,65,20,5.75,few clouds
...,...,...,...,...,...,...,...,...,...,...
664,664,Lagos,NG,6.58,3.75,82.72,86,45,5.46,scattered clouds
665,665,Haverfordwest,GB,51.80,-4.97,62.19,81,32,3.00,scattered clouds
667,667,Monrovia,LR,6.30,-10.80,76.77,81,100,11.92,overcast clouds
670,670,Pringsewu,ID,-5.36,104.97,73.31,96,99,0.58,overcast clouds
671,671,Ribeira Brava,PT,32.65,-17.07,79.00,65,36,8.61,scattered clouds

In [33]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Ambon,ID,79.23,light rain,-3.70,128.18,
5,Asfi,MA,71.69,clear sky,32.30,-9.24,
7,Ravar,IR,82.29,clear sky,31.27,56.81,
9,Molepolole,BW,63.82,clear sky,-24.41,25.50,
10,Saint George,US,74.62,few clouds,37.10,-113.58,
11,Pulo,PH,80.24,scattered clouds,15.25,120.93,
15,Ponta Do Sol,PT,79.00,scattered clouds,32.67,-17.10,
16,Porbandar,IN,80.89,moderate rain,21.64,69.61,
17,Albany,US,73.78,scattered clouds,42.60,-73.97,
21,Vaini,TO,73.56,light intensity shower rain,-21.20,-175.20,

In [34]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found. Skipping...")

Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...

In [35]:
len(hotel_df)

372

In [36]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df[hotel_df["Hotel Name"]!= '']
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Ambon,ID,79.23,light rain,-3.70,128.18,Swiss-Belhotel Ambon
5,Asfi,MA,71.69,clear sky,32.30,-9.24,Hôtel Abda
7,Ravar,IR,82.29,clear sky,31.27,56.81,computertik
9,Molepolole,BW,63.82,clear sky,-24.41,25.50,Butterfly Tree Guesthouse
10,Saint George,US,74.62,few clouds,37.10,-113.58,Best Western Plus Abbey Inn
...,...,...,...,...,...,...,...
663,Quelimane,MZ,75.15,scattered clouds,-17.88,36.89,Hotel Flamingo
665,Haverfordwest,GB,62.19,scattered clouds,51.80,-4.97,Silverdale Lodge
667,Monrovia,LR,76.77,overcast clouds,6.30,-10.80,Eco Hotel
670,Pringsewu,ID,73.31,overcast clouds,-5.36,104.97,Urban Style by Front One
671,Ribeira Brava,PT,79.00,scattered clouds,32.65,-17.07,Hotel do Campo

In [37]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [38]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [39]:
# 11a. Add a marker layer for each city to the map. 

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))